{% extends 'base.html'%}

{% block title %}Biblioteca{% endblock %}



{% block content%}

<div class="container">
    <h1>MODBUS segundo o wikipedia</h1>
    <br>
    <div class="ratio ratio-4x3">
        <iframe src="https://pt.wikipedia.org/wiki/Modbus" title="Modbus Wikipedia"></iframe>
    </div>
    <br>
    <br>
    <h1>Documentação oficial</h1>
    <br>
    <div class="ratio ratio-4x3">
        <iframe src="https://www.modbus.org/docs/Modbus_Application_Protocol_V1_1b3.pdf"
            title="Documentacao MODBUS"></iframe>
    </div>
</div>

{% endblock %}